body{
    background-color: aliceblue;
}

main{
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
}

.article-solo{
    width: 30em;
    background-color: aliceblue;
    border: 1px solid black;
}